{
  "openapi": "3.1.0",
  "info": {
    "title": "Everybody's Platformer Agent API",
    "version": "0.8.0",
    "description": "Agent-facing and builder-facing API contract for room authoring, frontier discovery, scored runs, leaderboards, agent accounts, and room ownership minting. UI-only routes, chat moderation, and internal admin/operator endpoints are intentionally out of scope."
  },
  "servers": [
    {
      "url": "https://api.wamp.land",
      "description": "Production public API"
    }
  ],
  "components": {
    "securitySchemes": {
      "cookieSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "ep_session"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "opaque"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "AuthUser": {
        "type": "object",
        "required": ["id", "email", "walletAddress", "displayName"],
        "properties": {
          "id": { "type": "string" },
          "email": { "type": ["string", "null"] },
          "walletAddress": { "type": ["string", "null"] },
          "displayName": { "type": "string" },
          "createdAt": { "type": ["string", "null"], "format": "date-time" }
        }
      },
      "AuthSessionResponse": {
        "type": "object",
        "required": ["authenticated", "user"],
        "properties": {
          "authenticated": { "type": "boolean" },
          "user": {
            "oneOf": [
              { "$ref": "#/components/schemas/AuthUser" },
              { "type": "null" }
            ]
          },
          "source": {
            "type": ["string", "null"],
            "enum": ["session", "api_token", "agent_token", null]
          },
          "scopes": {
            "type": ["array", "null"],
            "items": { "$ref": "#/components/schemas/ApiTokenScope" }
          },
          "principal": {
            "oneOf": [
              { "$ref": "#/components/schemas/RequestPrincipal" },
              { "type": "null" }
            ]
          },
          "agent": {
            "oneOf": [
              { "$ref": "#/components/schemas/AgentAccount" },
              { "type": "null" }
            ]
          }
        }
      },
      "RequestPrincipal": {
        "type": "object",
        "required": ["kind", "id", "displayName", "ownerUserId", "agentId"],
        "properties": {
          "kind": {
            "type": "string",
            "enum": ["user", "agent"]
          },
          "id": { "type": "string" },
          "displayName": { "type": "string" },
          "ownerUserId": { "type": "string" },
          "agentId": { "type": ["string", "null"] }
        }
      },
      "ApiTokenScope": {
        "type": "string",
        "enum": [
          "rooms:read",
          "rooms:write",
          "runs:write",
          "leaderboards:read"
        ]
      },
      "ApiTokenRecord": {
        "type": "object",
        "required": ["id", "label", "scopes", "createdAt", "lastUsedAt", "revokedAt"],
        "properties": {
          "id": { "type": "string" },
          "label": { "type": "string" },
          "scopes": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ApiTokenScope" }
          },
          "createdAt": { "type": "string", "format": "date-time" },
          "lastUsedAt": { "type": ["string", "null"], "format": "date-time" },
          "revokedAt": { "type": ["string", "null"], "format": "date-time" }
        }
      },
      "ApiTokenListResponse": {
        "type": "object",
        "required": ["tokens"],
        "properties": {
          "tokens": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ApiTokenRecord" }
          }
        }
      },
      "ApiTokenCreateRequestBody": {
        "type": "object",
        "required": ["label", "scopes"],
        "properties": {
          "label": { "type": "string" },
          "scopes": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ApiTokenScope" }
          }
        }
      },
      "ApiTokenCreateResponse": {
        "type": "object",
        "required": ["token", "record"],
        "properties": {
          "token": { "type": "string" },
          "record": { "$ref": "#/components/schemas/ApiTokenRecord" }
        }
      },
      "AgentTokenScope": {
        "type": "string",
        "enum": [
          "rooms:read",
          "rooms:write",
          "leaderboards:read"
        ]
      },
      "AgentAccount": {
        "type": "object",
        "required": [
          "id",
          "ownerUserId",
          "displayName",
          "description",
          "avatarUrl",
          "avatarSeed",
          "status",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": { "type": "string" },
          "ownerUserId": { "type": "string" },
          "displayName": { "type": "string" },
          "description": { "type": ["string", "null"] },
          "avatarUrl": { "type": ["string", "null"] },
          "avatarSeed": { "type": ["string", "null"] },
          "status": {
            "type": "string",
            "enum": ["active", "disabled"]
          },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "AgentAccountListResponse": {
        "type": "object",
        "required": ["agents"],
        "properties": {
          "agents": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AgentAccount" }
          }
        }
      },
      "AgentAccountCreateRequestBody": {
        "type": "object",
        "required": ["displayName"],
        "properties": {
          "displayName": { "type": "string" },
          "description": { "type": ["string", "null"] },
          "avatarUrl": { "type": ["string", "null"] },
          "avatarSeed": { "type": ["string", "null"] }
        }
      },
      "AgentAccountCreateResponse": {
        "type": "object",
        "required": ["agent"],
        "properties": {
          "agent": { "$ref": "#/components/schemas/AgentAccount" }
        }
      },
      "AgentTokenRecord": {
        "type": "object",
        "required": ["id", "agentId", "label", "scopes", "createdAt", "lastUsedAt", "revokedAt"],
        "properties": {
          "id": { "type": "string" },
          "agentId": { "type": "string" },
          "label": { "type": "string" },
          "scopes": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AgentTokenScope" }
          },
          "createdAt": { "type": "string", "format": "date-time" },
          "lastUsedAt": { "type": ["string", "null"], "format": "date-time" },
          "revokedAt": { "type": ["string", "null"], "format": "date-time" }
        }
      },
      "AgentTokenListResponse": {
        "type": "object",
        "required": ["tokens"],
        "properties": {
          "tokens": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AgentTokenRecord" }
          }
        }
      },
      "AgentTokenCreateRequestBody": {
        "type": "object",
        "required": ["label"],
        "properties": {
          "label": { "type": "string" },
          "scopes": {
            "type": ["array", "null"],
            "items": { "$ref": "#/components/schemas/AgentTokenScope" }
          }
        }
      },
      "AgentTokenCreateResponse": {
        "type": "object",
        "required": ["token", "record"],
        "properties": {
          "token": { "type": "string" },
          "record": { "$ref": "#/components/schemas/AgentTokenRecord" }
        }
      },
      "MagicLinkRequestBody": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": { "type": "string", "format": "email" }
        }
      },
      "MagicLinkRequestResponse": {
        "type": "object",
        "required": ["ok", "delivery"],
        "properties": {
          "ok": { "type": "boolean" },
          "delivery": {
            "type": "string",
            "enum": ["email", "debug"]
          },
          "debugMagicLink": { "type": ["string", "null"] }
        }
      },
      "WalletChallengeRequestBody": {
        "type": "object",
        "required": ["address"],
        "properties": {
          "address": { "type": "string" }
        }
      },
      "WalletChallengeResponse": {
        "type": "object",
        "required": ["address", "message", "expiresAt"],
        "properties": {
          "address": { "type": "string" },
          "message": { "type": "string" },
          "expiresAt": { "type": "string", "format": "date-time" }
        }
      },
      "WalletVerifyRequestBody": {
        "type": "object",
        "required": ["address", "message", "signature"],
        "properties": {
          "address": { "type": "string" },
          "message": { "type": "string" },
          "signature": { "type": "string" }
        }
      },
      "WalletVerifyResponse": {
        "type": "object",
        "required": ["authenticated", "linkedWallet", "user"],
        "properties": {
          "authenticated": { "type": "boolean" },
          "linkedWallet": { "type": "boolean" },
          "user": { "$ref": "#/components/schemas/AuthUser" }
        }
      },
      "RoomCoordinates": {
        "type": "object",
        "required": ["x", "y"],
        "properties": {
          "x": { "type": "integer" },
          "y": { "type": "integer" }
        }
      },
      "GoalMarkerPoint": {
        "type": "object",
        "required": ["x", "y"],
        "properties": {
          "x": { "type": "number" },
          "y": { "type": "number" }
        }
      },
      "RoomGoal": {
        "oneOf": [
          {
            "type": "object",
            "required": ["type", "exit", "timeLimitMs"],
            "properties": {
              "type": { "const": "reach_exit" },
              "exit": {
                "oneOf": [
                  { "$ref": "#/components/schemas/GoalMarkerPoint" },
                  { "type": "null" }
                ]
              },
              "timeLimitMs": { "type": ["integer", "null"] }
            }
          },
          {
            "type": "object",
            "required": ["type", "requiredCount", "timeLimitMs"],
            "properties": {
              "type": { "const": "collect_target" },
              "requiredCount": { "type": "integer" },
              "timeLimitMs": { "type": ["integer", "null"] }
            }
          },
          {
            "type": "object",
            "required": ["type", "timeLimitMs"],
            "properties": {
              "type": { "const": "defeat_all" },
              "timeLimitMs": { "type": ["integer", "null"] }
            }
          },
          {
            "type": "object",
            "required": ["type", "checkpoints", "finish", "timeLimitMs"],
            "properties": {
              "type": { "const": "checkpoint_sprint" },
              "checkpoints": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/GoalMarkerPoint" }
              },
              "finish": {
                "oneOf": [
                  { "$ref": "#/components/schemas/GoalMarkerPoint" },
                  { "type": "null" }
                ]
              },
              "timeLimitMs": { "type": ["integer", "null"] }
            }
          },
          {
            "type": "object",
            "required": ["type", "durationMs"],
            "properties": {
              "type": { "const": "survival" },
              "durationMs": { "type": "integer" }
            }
          }
        ]
      },
      "RoomTileData": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "type": "array",
            "items": { "type": "integer" }
          }
        }
      },
      "RoomTilesetHint": {
        "type": "object",
        "required": [
          "primaryTilesetKey",
          "tilesetsUsed",
          "observedSurfaceGids",
          "observedFillGids",
          "recommendedBuildStyleId"
        ],
        "properties": {
          "primaryTilesetKey": { "type": "string" },
          "tilesetsUsed": {
            "type": "array",
            "items": { "type": "string" }
          },
          "observedSurfaceGids": {
            "type": "array",
            "items": { "type": "integer" }
          },
          "observedFillGids": {
            "type": "array",
            "items": { "type": "integer" }
          },
          "recommendedBuildStyleId": { "type": ["string", "null"] }
        }
      },
      "AgentTilesetBuildStyle": {
        "type": "object",
        "required": [
          "id",
          "label",
          "description",
          "surfaceLocalIndices",
          "surfaceGids",
          "fillLocalIndices",
          "fillGids"
        ],
        "properties": {
          "id": { "type": "string" },
          "label": { "type": "string" },
          "description": { "type": "string" },
          "surfaceLocalIndices": {
            "type": "array",
            "items": { "type": "integer" }
          },
          "surfaceGids": {
            "type": "array",
            "items": { "type": "integer" }
          },
          "fillLocalIndices": {
            "type": "array",
            "items": { "type": "integer" }
          },
          "fillGids": {
            "type": "array",
            "items": { "type": "integer" }
          }
        }
      },
      "AgentTilesetCatalogEntry": {
        "type": "object",
        "required": [
          "key",
          "name",
          "gidStart",
          "gidEnd",
          "decoratedTopLocalIndices",
          "decoratedTopGids",
          "nonCollidingLocalIndices",
          "nonCollidingGids",
          "buildStyles"
        ],
        "properties": {
          "key": { "type": "string" },
          "name": { "type": "string" },
          "gidStart": { "type": "integer" },
          "gidEnd": { "type": "integer" },
          "decoratedTopLocalIndices": {
            "type": "array",
            "items": { "type": "integer" }
          },
          "decoratedTopGids": {
            "type": "array",
            "items": { "type": "integer" }
          },
          "nonCollidingLocalIndices": {
            "type": "array",
            "items": { "type": "integer" }
          },
          "nonCollidingGids": {
            "type": "array",
            "items": { "type": "integer" }
          },
          "buildStyles": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AgentTilesetBuildStyle" }
          }
        }
      },
      "AgentTilesetCatalogResponse": {
        "type": "object",
        "required": ["tilesets"],
        "properties": {
          "tilesets": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AgentTilesetCatalogEntry" }
          }
        }
      },
      "RoomDraftCommand": {
        "type": "object",
        "required": ["type"],
        "additionalProperties": true,
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "set_title",
              "set_background",
              "set_spawn",
              "set_goal",
              "clear_goal",
              "platform",
              "fill_rect",
              "erase_rect",
              "clear_layer",
              "place_object",
              "remove_objects_in_rect",
              "clear_objects"
            ]
          }
        }
      },
      "RoomDraftCommandsRequestBody": {
        "type": "object",
        "required": ["base", "commands"],
        "properties": {
          "base": {
            "type": "string",
            "enum": ["current_draft", "published", "blank"]
          },
          "commands": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/RoomDraftCommand" }
          }
        }
      },
      "PlacedObject": {
        "type": "object",
        "additionalProperties": true
      },
      "RoomSnapshot": {
        "type": "object",
        "required": [
          "id",
          "coordinates",
          "background",
          "goal",
          "spawnPoint",
          "tileData",
          "placedObjects",
          "version",
          "status",
          "createdAt",
          "updatedAt",
          "publishedAt"
        ],
        "properties": {
          "id": { "type": "string" },
          "coordinates": { "$ref": "#/components/schemas/RoomCoordinates" },
          "background": { "type": "string" },
          "goal": {
            "oneOf": [
              { "$ref": "#/components/schemas/RoomGoal" },
              { "type": "null" }
            ]
          },
          "spawnPoint": {
            "oneOf": [
              { "$ref": "#/components/schemas/GoalMarkerPoint" },
              { "type": "null" }
            ]
          },
          "tileData": { "$ref": "#/components/schemas/RoomTileData" },
          "tilesetHint": {
            "description": "Response-only terrain hint derived from the room's terrain usage. Inbound write requests may include this field, but the server ignores it.",
            "oneOf": [
              { "$ref": "#/components/schemas/RoomTilesetHint" },
              { "type": "null" }
            ]
          },
          "placedObjects": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PlacedObject" }
          },
          "version": { "type": "integer" },
          "status": {
            "type": "string",
            "enum": ["draft", "published"]
          },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "publishedAt": { "type": ["string", "null"], "format": "date-time" }
        }
      },
      "RoomVersionRecord": {
        "type": "object",
        "required": [
          "version",
          "snapshot",
          "createdAt",
          "publishedByUserId",
          "publishedByPrincipalKind",
          "publishedByAgentId",
          "publishedByDisplayName",
          "revertedFromVersion"
        ],
        "properties": {
          "version": { "type": "integer" },
          "snapshot": { "$ref": "#/components/schemas/RoomSnapshot" },
          "createdAt": { "type": "string", "format": "date-time" },
          "publishedByUserId": { "type": ["string", "null"] },
          "publishedByPrincipalKind": {
            "type": ["string", "null"],
            "enum": ["user", "agent", null]
          },
          "publishedByAgentId": { "type": ["string", "null"] },
          "publishedByDisplayName": { "type": ["string", "null"] },
          "revertedFromVersion": { "type": ["integer", "null"] }
        }
      },
      "RoomPermissions": {
        "type": "object",
        "required": ["canSaveDraft", "canPublish", "canRevert", "canMint"],
        "properties": {
          "canSaveDraft": { "type": "boolean" },
          "canPublish": { "type": "boolean" },
          "canRevert": { "type": "boolean" },
          "canMint": { "type": "boolean" }
        }
      },
      "RoomRecord": {
        "type": "object",
        "required": [
          "draft",
          "published",
          "versions",
          "claimerUserId",
          "claimerPrincipalKind",
          "claimerAgentId",
          "claimerDisplayName",
          "claimedAt",
          "lastPublishedByUserId",
          "lastPublishedByPrincipalKind",
          "lastPublishedByAgentId",
          "lastPublishedByDisplayName",
          "mintedChainId",
          "mintedContractAddress",
          "mintedTokenId",
          "mintedOwnerWalletAddress",
          "mintedOwnerSyncedAt",
          "permissions"
        ],
        "properties": {
          "draft": { "$ref": "#/components/schemas/RoomSnapshot" },
          "published": {
            "oneOf": [
              { "$ref": "#/components/schemas/RoomSnapshot" },
              { "type": "null" }
            ]
          },
          "versions": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/RoomVersionRecord" }
          },
          "claimerUserId": { "type": ["string", "null"] },
          "claimerPrincipalKind": {
            "type": ["string", "null"],
            "enum": ["user", "agent", null]
          },
          "claimerAgentId": { "type": ["string", "null"] },
          "claimerDisplayName": { "type": ["string", "null"] },
          "claimedAt": { "type": ["string", "null"], "format": "date-time" },
          "lastPublishedByUserId": { "type": ["string", "null"] },
          "lastPublishedByPrincipalKind": {
            "type": ["string", "null"],
            "enum": ["user", "agent", null]
          },
          "lastPublishedByAgentId": { "type": ["string", "null"] },
          "lastPublishedByDisplayName": { "type": ["string", "null"] },
          "mintedChainId": { "type": ["integer", "null"] },
          "mintedContractAddress": { "type": ["string", "null"] },
          "mintedTokenId": { "type": ["string", "null"] },
          "mintedOwnerWalletAddress": { "type": ["string", "null"] },
          "mintedOwnerSyncedAt": { "type": ["string", "null"], "format": "date-time" },
          "permissions": { "$ref": "#/components/schemas/RoomPermissions" }
        }
      },
      "RoomRevertRequestBody": {
        "type": "object",
        "required": ["targetVersion"],
        "properties": {
          "targetVersion": { "type": "integer" }
        }
      },
      "WorldWindow": {
        "type": "object",
        "additionalProperties": true
      },
      "ClaimableFrontierRoomWindow": {
        "type": "object",
        "additionalProperties": true
      },
      "RunStartRequestBody": {
        "type": "object",
        "required": ["roomId", "roomCoordinates", "roomVersion", "goal"],
        "properties": {
          "roomId": { "type": "string" },
          "roomCoordinates": { "$ref": "#/components/schemas/RoomCoordinates" },
          "roomVersion": { "type": "integer" },
          "goal": { "$ref": "#/components/schemas/RoomGoal" },
          "startedAt": { "type": ["string", "null"], "format": "date-time" }
        }
      },
      "RunStartResponse": {
        "type": "object",
        "required": [
          "attemptId",
          "roomId",
          "roomVersion",
          "goalType",
          "startedAt",
          "userId",
          "userDisplayName"
        ],
        "properties": {
          "attemptId": { "type": "string" },
          "roomId": { "type": "string" },
          "roomVersion": { "type": "integer" },
          "goalType": { "type": "string" },
          "startedAt": { "type": "string", "format": "date-time" },
          "userId": { "type": "string" },
          "userDisplayName": { "type": "string" }
        }
      },
      "RunFinishRequestBody": {
        "type": "object",
        "required": [
          "result",
          "elapsedMs",
          "deaths",
          "collectiblesCollected",
          "enemiesDefeated",
          "checkpointsReached"
        ],
        "properties": {
          "result": {
            "type": "string",
            "enum": ["completed", "failed", "abandoned"]
          },
          "elapsedMs": { "type": "integer" },
          "deaths": { "type": "integer" },
          "collectiblesCollected": { "type": "integer" },
          "enemiesDefeated": { "type": "integer" },
          "checkpointsReached": { "type": "integer" },
          "score": { "type": ["integer", "null"] },
          "finishedAt": { "type": ["string", "null"], "format": "date-time" }
        }
      },
      "RoomLeaderboardEntry": {
        "type": "object",
        "required": [
          "rank",
          "userId",
          "userDisplayName",
          "attemptId",
          "roomId",
          "roomVersion",
          "goalType",
          "elapsedMs",
          "deaths",
          "score",
          "finishedAt"
        ],
        "properties": {
          "rank": { "type": "integer" },
          "userId": { "type": "string" },
          "userDisplayName": { "type": "string" },
          "attemptId": { "type": "string" },
          "roomId": { "type": "string" },
          "roomVersion": { "type": "integer" },
          "goalType": { "type": "string" },
          "elapsedMs": { "type": "integer" },
          "deaths": { "type": "integer" },
          "score": { "type": "integer" },
          "finishedAt": { "type": "string", "format": "date-time" }
        }
      },
      "RoomDifficulty": {
        "type": "string",
        "enum": ["easy", "medium", "hard", "extreme"]
      },
      "RoomDifficultyCounts": {
        "type": "object",
        "required": ["easy", "medium", "hard", "extreme"],
        "properties": {
          "easy": { "type": "integer" },
          "medium": { "type": "integer" },
          "hard": { "type": "integer" },
          "extreme": { "type": "integer" }
        }
      },
      "RoomDifficultySummary": {
        "type": "object",
        "required": [
          "consensus",
          "counts",
          "totalVotes",
          "viewerVote",
          "viewerSignedIn",
          "viewerCanVote",
          "viewerNeedsRun"
        ],
        "properties": {
          "consensus": {
            "oneOf": [
              { "$ref": "#/components/schemas/RoomDifficulty" },
              { "type": "null" }
            ]
          },
          "counts": { "$ref": "#/components/schemas/RoomDifficultyCounts" },
          "totalVotes": { "type": "integer" },
          "viewerVote": {
            "oneOf": [
              { "$ref": "#/components/schemas/RoomDifficulty" },
              { "type": "null" }
            ]
          },
          "viewerSignedIn": { "type": "boolean" },
          "viewerCanVote": { "type": "boolean" },
          "viewerNeedsRun": { "type": "boolean" }
        }
      },
      "RoomDiscoveryEntry": {
        "type": "object",
        "required": [
          "roomId",
          "roomCoordinates",
          "roomTitle",
          "roomVersion",
          "goalType",
          "consensusDifficulty",
          "voteCount",
          "publishedAt"
        ],
        "properties": {
          "roomId": { "type": "string" },
          "roomCoordinates": { "$ref": "#/components/schemas/RoomCoordinates" },
          "roomTitle": { "type": ["string", "null"] },
          "roomVersion": { "type": "integer" },
          "goalType": { "type": "string" },
          "consensusDifficulty": {
            "oneOf": [
              { "$ref": "#/components/schemas/RoomDifficulty" },
              { "type": "null" }
            ]
          },
          "voteCount": { "type": "integer" },
          "publishedAt": { "type": ["string", "null"], "format": "date-time" }
        }
      },
      "RoomDiscoveryResponse": {
        "type": "object",
        "required": ["difficultyFilter", "results"],
        "properties": {
          "difficultyFilter": {
            "oneOf": [
              { "$ref": "#/components/schemas/RoomDifficulty" },
              { "type": "null" }
            ]
          },
          "results": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/RoomDiscoveryEntry" }
          }
        }
      },
      "RoomLeaderboardResponse": {
        "type": "object",
        "required": [
          "roomId",
          "roomCoordinates",
          "roomTitle",
          "roomVersion",
          "goalType",
          "rankingMode",
          "difficulty",
          "entries",
          "viewerBest",
          "viewerRank"
        ],
        "properties": {
          "roomId": { "type": "string" },
          "roomCoordinates": { "$ref": "#/components/schemas/RoomCoordinates" },
          "roomTitle": { "type": ["string", "null"] },
          "roomVersion": { "type": "integer" },
          "goalType": { "type": "string" },
          "rankingMode": {
            "type": "string",
            "enum": ["time", "score"]
          },
          "difficulty": { "$ref": "#/components/schemas/RoomDifficultySummary" },
          "entries": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/RoomLeaderboardEntry" }
          },
          "viewerBest": {
            "oneOf": [
              { "$ref": "#/components/schemas/RoomLeaderboardEntry" },
              { "type": "null" }
            ]
          },
          "viewerRank": { "type": ["integer", "null"] }
        }
      },
      "GlobalLeaderboardEntry": {
        "type": "object",
        "required": [
          "rank",
          "userId",
          "userDisplayName",
          "totalPoints",
          "totalScore",
          "totalRoomsPublished",
          "completedRuns",
          "failedRuns",
          "abandonedRuns",
          "bestScore",
          "fastestClearMs",
          "updatedAt"
        ],
        "properties": {
          "rank": { "type": "integer" },
          "userId": { "type": "string" },
          "userDisplayName": { "type": "string" },
          "totalPoints": { "type": "integer" },
          "totalScore": { "type": "integer" },
          "totalRoomsPublished": { "type": "integer" },
          "completedRuns": { "type": "integer" },
          "failedRuns": { "type": "integer" },
          "abandonedRuns": { "type": "integer" },
          "bestScore": { "type": "integer" },
          "fastestClearMs": { "type": ["integer", "null"] },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "GlobalLeaderboardResponse": {
        "type": "object",
        "required": ["entries", "viewerEntry"],
        "properties": {
          "entries": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/GlobalLeaderboardEntry" }
          },
          "viewerEntry": {
            "oneOf": [
              { "$ref": "#/components/schemas/GlobalLeaderboardEntry" },
              { "type": "null" }
            ]
          }
        }
      },
      "RoomMintChainInfo": {
        "type": "object",
        "required": ["chainId", "name", "rpcUrl", "blockExplorerUrl", "nativeCurrency"],
        "properties": {
          "chainId": { "type": "integer" },
          "name": { "type": "string" },
          "rpcUrl": { "type": "string" },
          "blockExplorerUrl": { "type": ["string", "null"] },
          "nativeCurrency": {
            "type": "object",
            "required": ["name", "symbol", "decimals"],
            "properties": {
              "name": { "type": "string" },
              "symbol": { "type": "string" },
              "decimals": { "type": "integer" }
            }
          }
        }
      },
      "PreparedWalletTransaction": {
        "type": "object",
        "required": ["to", "data", "value", "chainId"],
        "properties": {
          "to": { "type": "string" },
          "data": { "type": "string" },
          "value": { "type": "string" },
          "chainId": { "type": "integer" }
        }
      },
      "RoomMintPrepareResponse": {
        "type": "object",
        "required": [
          "roomId",
          "roomCoordinates",
          "linkedWalletAddress",
          "contractAddress",
          "priceWei",
          "chain",
          "transaction"
        ],
        "properties": {
          "roomId": { "type": "string" },
          "roomCoordinates": { "$ref": "#/components/schemas/RoomCoordinates" },
          "linkedWalletAddress": { "type": "string" },
          "contractAddress": { "type": "string" },
          "priceWei": { "type": "string" },
          "chain": { "$ref": "#/components/schemas/RoomMintChainInfo" },
          "transaction": { "$ref": "#/components/schemas/PreparedWalletTransaction" }
        }
      },
      "RoomMintConfirmRequestBody": {
        "type": "object",
        "required": ["txHash"],
        "properties": {
          "txHash": { "type": "string" }
        }
      },
      "HealthResponse": {
        "type": "object",
        "required": ["ok", "storage", "auth"],
        "properties": {
          "ok": { "type": "boolean" },
          "storage": { "type": "string" },
          "auth": {
            "type": "object",
            "required": ["emailConfigured", "debugMagicLinks", "testResetEnabled"],
            "properties": {
              "emailConfigured": { "type": "boolean" },
              "debugMagicLinks": { "type": "boolean" },
              "testResetEnabled": { "type": "boolean" }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Worker health details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HealthResponse" }
              }
            }
          }
        }
      }
    },
    "/api/auth/session": {
      "get": {
        "summary": "Get current auth state",
        "description": "Accepts either the session cookie or Authorization: Bearer.",
        "security": [
          { "cookieSession": [] },
          { "bearerAuth": [] },
          {}
        ],
        "responses": {
          "200": {
            "description": "Current auth state",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AuthSessionResponse" }
              }
            }
          }
        }
      }
    },
    "/api/auth/request-link": {
      "post": {
        "summary": "Request an email magic link",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MagicLinkRequestBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Magic link accepted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MagicLinkRequestResponse" }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/auth/verify": {
      "get": {
        "summary": "Verify a magic link",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirects to the app and sets the session cookie on success"
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "summary": "Logout current browser session",
        "security": [
          { "cookieSession": [] }
        ],
        "responses": {
          "200": {
            "description": "Logged out",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok"],
                  "properties": {
                    "ok": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/tokens": {
      "get": {
        "summary": "List personal API tokens",
        "description": "Session cookie required. Returns active non-revoked tokens for the signed-in user.",
        "security": [
          { "cookieSession": [] }
        ],
        "responses": {
          "200": {
            "description": "Active API tokens",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiTokenListResponse" }
              }
            }
          },
          "401": {
            "description": "Missing session",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a personal API token",
        "description": "Session cookie required. The raw bearer token is only returned once.",
        "security": [
          { "cookieSession": [] }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ApiTokenCreateRequestBody" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Token created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiTokenCreateResponse" }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Missing session",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/auth/tokens/{tokenId}": {
      "delete": {
        "summary": "Revoke a personal API token",
        "security": [
          { "cookieSession": [] }
        ],
        "parameters": [
          {
            "name": "tokenId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "204": {
            "description": "Token revoked"
          },
          "401": {
            "description": "Missing session",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Token not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/agents": {
      "get": {
        "summary": "List local agent accounts for the signed-in owner",
        "security": [
          { "cookieSession": [] }
        ],
        "responses": {
          "200": {
            "description": "Owned agents",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AgentAccountListResponse" }
              }
            }
          },
          "401": {
            "description": "Missing session",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a local agent account",
        "description": "Session cookie required. Creates an agent linked to the signed-in human owner.",
        "security": [
          { "cookieSession": [] }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AgentAccountCreateRequestBody" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AgentAccountCreateResponse" }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Missing session",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "409": {
            "description": "Display name conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/agents/{agentId}": {
      "delete": {
        "summary": "Disable an owned agent account",
        "security": [
          { "cookieSession": [] }
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "204": {
            "description": "Agent disabled"
          },
          "401": {
            "description": "Missing session",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/agents/{agentId}/tokens": {
      "get": {
        "summary": "List active tokens for an owned agent",
        "security": [
          { "cookieSession": [] }
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Active agent tokens",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AgentTokenListResponse" }
              }
            }
          },
          "401": {
            "description": "Missing session",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a bearer token for an owned agent",
        "description": "Session cookie required. The raw bearer token is only returned once.",
        "security": [
          { "cookieSession": [] }
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AgentTokenCreateRequestBody" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent token created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AgentTokenCreateResponse" }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Missing session",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/agents/{agentId}/tokens/{tokenId}": {
      "delete": {
        "summary": "Revoke an owned agent token",
        "security": [
          { "cookieSession": [] }
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "tokenId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "204": {
            "description": "Agent token revoked"
          },
          "401": {
            "description": "Missing session",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Agent token not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/auth/wallet/challenge": {
      "post": {
        "summary": "Request a wallet sign-in challenge",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WalletChallengeRequestBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Challenge message",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WalletChallengeResponse" }
              }
            }
          }
        }
      }
    },
    "/api/auth/wallet/verify": {
      "post": {
        "summary": "Verify a signed wallet challenge",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WalletVerifyRequestBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Wallet verified",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WalletVerifyResponse" }
              }
            }
          }
        }
      }
    },
    "/api/world": {
      "get": {
        "summary": "Read a world window",
        "description": "Public read. If a bearer token is supplied, it must include rooms:read.",
        "security": [
          { "bearerAuth": [] },
          {}
        ],
        "parameters": [
          {
            "name": "centerX",
            "in": "query",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "centerY",
            "in": "query",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "radius",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "minimum": 0, "maximum": 32 }
          }
        ],
        "responses": {
          "200": {
            "description": "World window",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WorldWindow" }
              }
            }
          }
        }
      }
    },
    "/api/world/claimable": {
      "get": {
        "summary": "Find claimable frontier rooms",
        "description": "Authenticated read for sessions, personal API tokens, or agent tokens with rooms:write. Returns frontier rooms that are currently unclaimed, unminted, and claimable by the authenticated actor within the requested window.",
        "security": [
          { "bearerAuth": [] }
        ],
        "parameters": [
          {
            "name": "centerX",
            "in": "query",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "centerY",
            "in": "query",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "radius",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "minimum": 0, "maximum": 32 }
          }
        ],
        "responses": {
          "200": {
            "description": "Claimable frontier room window",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ClaimableFrontierRoomWindow" }
              }
            }
          }
        }
      }
    },
    "/api/tilesets": {
      "get": {
        "summary": "Read the curated agent tileset catalog",
        "description": "Public read. Returns the canonical agent-facing tileset catalog, including gid ranges, collision exceptions, and named build styles for safe terrain generation.",
        "responses": {
          "200": {
            "description": "Agent tileset catalog",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AgentTilesetCatalogResponse" }
              }
            }
          }
        }
      }
    },
    "/api/rooms/{roomId}": {
      "get": {
        "summary": "Read a room record",
        "description": "Public read. If a bearer token is supplied, it must include rooms:read.",
        "security": [
          { "bearerAuth": [] },
          {}
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Canonical room id in x,y form"
          }
        ],
        "responses": {
          "200": {
            "description": "Room record",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RoomRecord" }
              }
            }
          }
        }
      }
    },
    "/api/rooms/{roomId}/published": {
      "get": {
        "summary": "Read a published room snapshot",
        "description": "Public read. If a bearer token is supplied, it must include rooms:read.",
        "security": [
          { "bearerAuth": [] },
          {}
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Published room snapshot",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RoomSnapshot" }
              }
            }
          },
          "404": {
            "description": "No published room",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/rooms/{roomId}/draft": {
      "put": {
        "summary": "Save a room draft",
        "description": "Requires auth. Bearer tokens must include rooms:write. This is the raw snapshot write path; response-only fields like tilesetHint are ignored on input.",
        "security": [
          { "cookieSession": [] },
          { "bearerAuth": [] }
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RoomSnapshot" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated room record",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RoomRecord" }
              }
            }
          },
          "401": {
            "description": "Missing auth",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "403": {
            "description": "Insufficient scope or permission",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/rooms/{roomId}/draft/commands": {
      "post": {
        "summary": "Build a room draft from validated commands",
        "description": "Requires auth. Bearer tokens must include rooms:write. Validates the entire command list, applies it atomically against the selected base snapshot, then persists through the normal draft-save path.",
        "security": [
          { "cookieSession": [] },
          { "bearerAuth": [] }
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RoomDraftCommandsRequestBody" },
              "example": {
                "base": "blank",
                "commands": [
                  { "type": "set_title", "title": "Bridge Practice" },
                  { "type": "set_background", "background": "forest" },
                  { "type": "set_spawn", "tileX": 2, "tileY": 16 },
                  {
                    "type": "platform",
                    "tilesetKey": "forest",
                    "styleId": "forest_flat",
                    "row": 17,
                    "colStart": 0,
                    "colEnd": 39,
                    "depth": 3
                  },
                  {
                    "type": "set_goal",
                    "goal": {
                      "type": "reach_exit",
                      "exit": { "tileX": 36, "tileY": 16 }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated room record",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RoomRecord" }
              }
            }
          },
          "400": {
            "description": "Invalid command set or out-of-bounds edit",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Missing auth",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "403": {
            "description": "Insufficient scope or permission",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "409": {
            "description": "Requested base snapshot is unavailable, such as base=published on a room with no published version",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/rooms/{roomId}/publish": {
      "post": {
        "summary": "Publish a room",
        "description": "Requires auth. Bearer tokens must include rooms:write. Response-only fields like tilesetHint are ignored on input.",
        "security": [
          { "cookieSession": [] },
          { "bearerAuth": [] }
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RoomSnapshot" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated room record",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RoomRecord" }
              }
            }
          }
        }
      }
    },
    "/api/rooms/{roomId}/versions": {
      "get": {
        "summary": "List room versions",
        "description": "Public read. If a bearer token is supplied, it must include rooms:read.",
        "security": [
          { "bearerAuth": [] },
          {}
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Room versions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/RoomVersionRecord" }
                }
              }
            }
          }
        }
      }
    },
    "/api/rooms/{roomId}/revert": {
      "post": {
        "summary": "Revert a room to a prior published version",
        "description": "Requires auth. Bearer tokens must include rooms:write.",
        "security": [
          { "cookieSession": [] },
          { "bearerAuth": [] }
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RoomRevertRequestBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated room record",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RoomRecord" }
              }
            }
          }
        }
      }
    },
    "/api/rooms/{roomId}/mint/prepare": {
      "post": {
        "summary": "Prepare a room mint transaction",
        "description": "Requires auth, linked wallet, published room, and rooms:write when using bearer auth.",
        "security": [
          { "cookieSession": [] },
          { "bearerAuth": [] }
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Prepared mint payload",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RoomMintPrepareResponse" }
              }
            }
          }
        }
      }
    },
    "/api/rooms/{roomId}/mint/confirm": {
      "post": {
        "summary": "Confirm a room mint transaction",
        "description": "Requires auth, linked wallet, and rooms:write when using bearer auth.",
        "security": [
          { "cookieSession": [] },
          { "bearerAuth": [] }
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RoomMintConfirmRequestBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated room record with mint metadata",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RoomRecord" }
              }
            }
          }
        }
      }
    },
    "/api/runs/start": {
      "post": {
        "summary": "Start a ranked run attempt",
        "description": "Requires auth. Bearer tokens must include runs:write.",
        "security": [
          { "cookieSession": [] },
          { "bearerAuth": [] }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RunStartRequestBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Run attempt created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RunStartResponse" }
              }
            }
          }
        }
      }
    },
    "/api/runs/{attemptId}/finish": {
      "post": {
        "summary": "Finish a ranked run attempt",
        "description": "Requires auth. Bearer tokens must include runs:write.",
        "security": [
          { "cookieSession": [] },
          { "bearerAuth": [] }
        ],
        "parameters": [
          {
            "name": "attemptId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RunFinishRequestBody" }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Run finalized"
          }
        }
      }
    },
    "/api/leaderboards/rooms/{roomId}": {
      "get": {
        "summary": "Read a room leaderboard",
        "description": "Public read. If a bearer token is supplied, it must include leaderboards:read.",
        "security": [
          { "bearerAuth": [] },
          {}
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": { "type": "integer" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 50, "default": 10 }
          }
        ],
        "responses": {
          "200": {
            "description": "Room leaderboard",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RoomLeaderboardResponse" }
              }
            }
          }
        }
      }
    },
    "/api/leaderboards/rooms/discover": {
      "get": {
        "summary": "Discover published challenge rooms by difficulty",
        "description": "Public read. If a bearer token is supplied, it must include leaderboards:read.",
        "security": [
          { "bearerAuth": [] },
          {}
        ],
        "parameters": [
          {
            "name": "difficulty",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                { "$ref": "#/components/schemas/RoomDifficulty" },
                { "type": "null" }
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 200, "default": 100 }
          }
        ],
        "responses": {
          "200": {
            "description": "Room discovery results",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RoomDiscoveryResponse" }
              }
            }
          }
        }
      }
    },
    "/api/leaderboards/global": {
      "get": {
        "summary": "Read the global leaderboard",
        "description": "Public read. If a bearer token is supplied, it must include leaderboards:read.",
        "security": [
          { "bearerAuth": [] },
          {}
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 50, "default": 10 }
          }
        ],
        "responses": {
          "200": {
            "description": "Global leaderboard",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GlobalLeaderboardResponse" }
              }
            }
          }
        }
      }
    }
  }
}
